Week-*/a.out
Week-*/lex.yy.c
Week-*/input
Week-*/input.txt
Week-*/output
Week-*/output.txt
Week-*/y.tab.c
Week-*/y.tab.h
Week-*/pgm*/y.tab.h
Week-*/pgm*/y.tab.c
Week-*/pgm*/lex.yy.c
Week-*/pgm*/a.out
Week-*/pgm*/minicomp.tab.c